<div class="container mod-weather">
  <div class="inner">
    <div class="weather__item">
      <div class="weather__item-location">
        <div class="weather__item-vicinity">{{user.climate.vicinity}}</div>
        <div class="weather__item-country">{{user.climate.country}}</div>
      </div>
      <div class="weather__item-temp">{{{kelvinToFarenheit user.climate.temp}}}</div>
      <div class="weather__item-description">{{user.climate.description}}</div>
      <div class="weather__item-details">
        <div class="weather__item-high">{{{kelvinToFarenheit user.climate.high}}}</div>
        <div class="weather__item-low">{{{kelvinToFarenheit user.climate.low}}}</div>
        <div class="weather__item-sunrise">{{toDigital user.climate.sunrise}}</div>
        <div class="weather__item-sunset">{{toDigital user.climate.sunset}}</div>
      </div>
    </div>
  </div>
</div>