<div data-group-id="{{group._id}}" class="mod-transaction wrapper">
  {{#each group.members}}
    <div class="transaction__user" data-id="{{_id}}">
      <div class="transaction__user-details">
        <img class="transaction__user-avatar" src="{{avatar}}">
        <div class="transaction__user-name">{{name.first}}</div>
      </div>
      <div class="transaction__user-select">
        <span class="fa fa-check"></span>
        <input class="transaction__user-checkbox" type="checkbox">
        <div class="transaction__user--checked"></div>
      </div>
      <div class="transaction__user-debt"></div>
    </div>
  {{/each}}
  <div class="transaction__info"></div>
  <input class="transaction__field-amount" name="transaction-amount" type="text" placeholder="Amount">
  <input class="transaction__field-description" name="transaction-description" type="text" placeholder="Description">
  <button class="transaction__submit">Ok</button>
</div>
<div class="mod-records">
  {{#each transactions}}
  {{log this}}
    {{>component-record}}
  {{/each}}
</div>