{{>mod-clock}}
{{>mod-weather}}
<div class="mod-groups">
  {{#eachUpTo groups 1}}
    <div class="groups__item wrapper">
      <div class="groups__item-name">{{name}}</div>
      <div class="groups__item-user-count">{{userCount}} members</div>
      {{#eq ../activePage 'profile'}}
        {{#ne ../group name}}
        {{log site}}
          <div class="profile__groups">
            <button class="profile__groups-switch-to"><span class="fa fa-random"></span></button>
          </div>
        {{/ne}}
      {{/eq}}
    </div>
  {{/eachUpTo}}
</div>
{{log this}}
<div class="mod-recent-activity">
  {{#eachUpTo group.transactions 10}}
  <div class="recent-activity__item-divider"></div>
  <div class="recent-activity__item wrapper">
    <div class="records__item-info">
          <div class="records__item-info--description">{{this.description}}</div>
          <div class="records__item-info--timestamp">{{this.timestamp}}</div>
        </div>
        <div class="records__item-payee">
          <div class="records__item-payee--user">{{this.payee}}</div>
          <div class="records__item-payee--amount">${{this.total}}</div>
        </div>
        <div class="records__item-debtors">
          {{#each debtors}}
            <div class="records__item-debtor">
              <div class="records__item-debtor--user">{{this.user}}</div>
              <div class="records__item-debtor--amount">-${{this.debt}}</div>
            </div>
          {{/each}}
        </div>
  </div>
  {{/eachUpTo}}
</div>