<div class="container cover-photo" {{#if user.coverPhoto}}style="background-image: url('{{user.coverPhoto}}')"{{/if}}></div>
<div class="container profile-container">
  <div class="inner">
    <div class="profile">
      <div class="profile__image">
        <img class="img-scale" src="{{user.avatar}}">
      </div>
      <div class="profile__details">
        <div class="profile__details-name">{{user.fullname}}</div>
        <div class="geoposition">
          <div class="profile__details-last-seen">Last seen <span data-livestamp="{{ts user.geo.lastSeen}}"></span></div>
          <div class="profile__details-geoposition"><i class="fa fa-location-arrow"></i> {{user.geo.vicinity}}</div>
        </div>
      </div>
    </div>
  </div>
</div>