<div class="mod-profile">
  <div class="cover-photo" {{#if user.coverPhoto}}style="background-image: url('{{user.coverPhoto}}')"{{/if}}></div>
  <div class="profile wrapper">
    <div class="profile__image">
      <img class="img-scale" src="{{user.avatar}}">
    </div>
    <div class="profile__details">
      <div class="profile__details-name">{{user.fullname}}</div>
      <div class="profile__details-location">
        {{>component-profile-location}}
      </div>
    </div>
    <div class="profile-nav">
      <a href="/logout">
        <button class="profile-nav__button"><i class="fa fa-gears"></i></button>
      </a>
    </div>
  </div>
  <div class="mod-groups">
    {{#each groups}}
      <div class="groups__item wrapper">
        <div class="profile__switch-to">
          <a href="/groups/{{_id}}">
            <i class="fa fa-random"></i>
          </a>
        </div>
        <div class="groups__item-name">{{name}}</div>
        <div class="groups__item-user-count">{{members.length}}</div>
      </div>
    {{/each}}
  </div>
</div>