<div class="mod-profile">
  <div class="cover-photo" {{#if user.coverPhoto}}style="background-image: url('{{user.coverPhoto}}')"{{/if}}></div>
  <div class="profile wrapper">
    <div class="profile__image">
      <img class="img-scale" src="{{user.avatar}}">
    </div>
    <div class="profile__details">
      <div class="profile__details-name">{{user.fullname}}</div>
      <div class="profile__details-location">
        <div class="profile__details-geoposition"><i class="fa fa-location-arrow"></i> {{user.climate.vicinity}}, {{user.climate.country}}</div>
        <div class="profile__details-last-seen">Last seen <span data-livestamp="{{ts user.geo.lastSeen}}"></span></div>
      </div>
    </div>

    <div class="profile-nav">
      <button class="profile-nav__button"><i class="fa fa-gears"></i></button>
    </div>
  </div>
  <div class="mod-groups">
  {{#each groups}}
    <div class="groups__item wrapper">
      <div class="groups__item-name">{{name}}</div>
      <div class="groups__item-user-count">{{userCount}} members</div>
      {{#eq ../activePage 'profile'}}
        {{#ne ../../group name}}
          <div class="profile__groups">
            <button class="profile__groups-switch-to"><a href="/groups/{{../name}}"><span class="fa fa-random"></span></a></button>
          </div>
        {{/ne}}
      {{/eq}}
    </div>
  {{/each}}
</div>
</div>