<div class="mod-profile">
  <div class="cover-photo" {{#if user.coverPhoto}}style="background-image: url('{{user.coverPhoto}}')"{{/if}}></div>
  <div class="profile wrapper">
    <div class="profile__image">
      <img class="img-scale" src="{{user.avatar}}">
    </div>
    <div class="profile__details">
      <div class="profile__details-name">{{user.fullname}}</div>
      <div class="profile__details-location">
        {{>component-profile-location}}
      </div>
    </div>
    <div class="profile-nav">
      <a href="/logout">
        <button class="profile-nav__button"><i class="fa fa-gears"></i></button>
      </a>
    </div>
  </div>
  <div class="profile__current-group wrapper">
    <div class="profile__current-group-item">{{group.name}}</div>
    <div class="profile__groups-title">Current group</div>
  </div>
  <div class="profile__groups wrapper">
    <div class="profile__groups-title">Groups</div>
    <div class="profile__group-border"></div>
    {{#each groups}}
      <div class="profile__groups-item">
        <div class="profile__groups-item-name"><a href="/groups/{{_id}}">{{name}}</a></div>
        <div class="profile__groups-item-user-count">{{members.length}}</div>
      </div>
    {{/each}}
  </div>
</div>